<form id="uploadForm"
      enctype="multipart/form-data"
      action="/file/upload"
      method="post">
    	<input type="file" name="uploadFile" />
    	<input type="submit" value="submit"/>
	</form>
  	<script src="js/app/app.js"></script>